#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6B76FF;
  margin-top: 20%;
  font-family: 'Hind Siliguri', sans-serif;
}

#questionNumber {
  margin-left: 1%;
  color: #A5AEFF;
  font-family: 'Hind Siliguri', sans-serif;
}

h1.score{
  position: absolute;
  top: 0;
  right: 0;
  color: #A5AEFF;
  font-size: 1.5rem;
  margin-right: 1%;
  font-family: 'Hind Siliguri', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Hind Siliguri', sans-serif;
}


#question {
  color: #6B76FF;
  font-size: 1rem;
  min-height: 100vh;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  position: absolute;
  text-align: center;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Hind Siliguri', sans-serif;
}

#question h1 {
  margin-bottom: 7%;
  margin-top: 10%;
}

#answer {
  background: #A5AEFF;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   color: #FEFFE0;
   font-size: 20px;
   font-weight: 600;
   padding: 16px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 1%;
   min-width: 300px;
   font-family: 'Hind Siliguri', sans-serif;
}

#answer:hover {
  background: #6E45E2;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
  cursor: help;
  font-family: 'Hind Siliguri', sans-serif;
}

.finalScore {
  color: #6B76FF;
  font-size: 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Hind Siliguri', sans-serif;
}

#restart{
  background: #6B76FF;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
   color: #FEFFE0;
   font-size: 40px;
   font-weight: 600;
   padding: 16px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 2%;
   min-width: 300px;
  font-family: 'Hind Siliguri', sans-serif;
}

#restart:hover {
  background: #6E45E2;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
  font-family: 'Hind Siliguri', sans-serif;
}